# -----------------------------------------------------------------------------------------------------------------------------
# Nats
# -----------------------------------------------------------------------------------------------------------------------------
NATS_DNS=host
NATS_PORT=port de nats pour communication microservice

# -----------------------------------------------------------------------------------------------------------------------------
# db Postgres
# -----------------------------------------------------------------------------------------------------------------------------
MAIL_DB_USER=nom utilisateur de la db
MAIL_DB_PASSWORD=db mot de passe utilisateur
MAIL_DB_HOST=host de la db
MAIL_DB_NAME=nom de la db
MAIL_DB_PORT=port de la db


# -----------------------------------------------------------------------------------------------------------------------------
# JWT Secrets
# -----------------------------------------------------------------------------------------------------------------------------
SMTP_HOST=host service smtp
SMTP_PORT=port service smtp
SMTP_USER=nom d'utilisateur sur le service smtp
SMTP_PASS=mot de passe service smtp

SMTP_FROM=adresse d'envoie de mail