NODE_ENV=developement / production

# -----------------------------------------------------------------------------------------------------------------------------
# JWT Secrets
# -----------------------------------------------------------------------------------------------------------------------------
ACCESS_JWT_SECRET=clé secrete des jwt
REFRESH_JWT_SECRET=clé secrete des jwt

# -----------------------------------------------------------------------------------------------------------------------------
# url
# -----------------------------------------------------------------------------------------------------------------------------
API_DNS=host
CORE_API_PORT=numero de port du serveur back

NATS_DNS=host
NATS_PORT=port de nats pour communication microservice

REACT_URL=url de liaison au front

# -----------------------------------------------------------------------------------------------------------------------------
# MySQL
# -----------------------------------------------------------------------------------------------------------------------------
MYSQL_ROOT_PASSWORD=db mot de passe root
MYSQL_DATABASE=nom de la db
MYSQL_USER=nom utilisateur de la db
MYSQL_PASSWORD=db mot de passe utilisateur
MYSQL_HOST=host de la db
MYSQL_PORT=port de la db